#Cabecalho {
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: left;
    font-size: 20px;
    border-bottom: 5px solid white;

}


body {
    background-color: rgb(30, 30, 30);

}

.Destaque {
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

p {
    font-family: Arial, sans-serif;
    line-height: 1, 5;
    color: white;
}

#a {
    text-align: center;
    color: white;

}

ol {
    color: white;

}

ul {
    color: white;

}

#titulo {
    text-align: up;

}