#Cabecalho {
    color: white;
    text-align: left;
    font-size: 25px;
    display: inline-block;
    border-bottom: 2px solid white;
    width: 100%;
    display: flex;
    line-height: 40px;
    gap: 15px;
}

#logo-canto {
    width: 150px;
    height: 117px;
    margin: 20px 0 0 0;
}

body {
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: Arial, sans-serif;
}

body p {
    color: white;
}

p {
    line-height: 1, 5;
    color: black;
}

#centro img {
    display: block;
    margin: 96px auto auto auto;
    width: 250px;
    height: 250px;
}

#centro h1 {
    text-align: center;
    font-size: 50px;
    margin: auto auto auto 20px;
}

#butao {
    margin: 10px 400px auto;
}