/* Resetando margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ...existing code... */

body {

    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #e0dd23;
}

img {
    width: 200px;
    height: 200px;
}


.elemento {
    position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Cabeçalho */
.hero {
    background: url('pasta nova.jpg') no-repeat center center/cover;
    color: #522424;
    text-align: center;
    padding: 100px 20px;
    position: center;
}

.hero .overlay {
    background: rgba(212, 198, 198, 0.5);
    padding: 50px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.hero .btn {
    background: #e63946;
    color: #4b2020;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

.hero .btn:hover {
    background: #020d47;
}

/* Seção Menu */
.menu {
    padding: 40px 20px;
    text-align: center;
    background: #610707;
}

.menu h2 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.cardapio-item {
    display: inline-block;
    width: 300px;
    margin: 39px;
    text-align: center;
}

.cardapio-item img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.cardapio-item h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;

}

.cardapio-item p {
    font-size: 1.5rem;
    color: #306330;
}

/* Rodapé */
.footer {
    background: #eeeeee;
    color: #4b1313;
    text-align: center;
    padding: 20px;
}

nav {
    background: #eee;
    padding: 10px 0;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s;
}